.Login input, button{
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 50px;
        width: 270px;
        margin-bottom: 10px;
        border-radius: 5px;
    
}

.Login h2{
   text-align: center;
   color: aliceblue;

}

